body {
    background-image: linear-gradient(to bottom right, black, rgb(41, 41, 41));
    background-size: 100%;
}

h3 {
    color: #49beb7;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    font-family: 'Nanum Gothic', sans-serif;
}

h4 {
    color: #49beb7;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    font-family: 'Nanum Gothic', sans-serif;
}


p {
    color: white;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}

/* css class to center objects */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* navbar */

.navbar.navbar-expand-lg a {
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
}

.navbar.navbar-expand-lg a:hover {
    color: black;
}

/* footer css */

.footer {
    background-color: #49beb7;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
}

.footer a:hover {
    color: black;
}


/* care page CSS */

.care2 img {
    float: right;
    border: solid 5px #49beb7;
}

.care2 h5 {
    color: #49beb7;
    text-decoration: underline;
    text-align: left;
    padding-left: 10px;
    font-family: 'Nanum Gothic', sans-serif;
}

/* CSS for about page */

.about h3 {
    color: #49beb7;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Nanum Gothic', sans-serif;
}

.about img {
    float: left;
    border: solid 5px #49beb7;
    margin: 10px;
}
.about p {
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
    font-family: 'Nanum Gothic', sans-serif;
}

.about h5 {
    color: #49beb7;
    text-decoration: underline;
    font-family: 'Nanum Gothic', sans-serif;
}

/* CSS for product page */

.product-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.product-flex-container>div {
    margin: 10px;
    height: 20%;
    width: 20%;
}

.product-flex-container>div img {
    border: 5px solid #49beb7;
    height: auto;
    width: 100%;
}

.product-flex-container>div a {
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
}

.product-flex-container>div a:hover {
    color: #49beb7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

.left-column {
    width: 65%;
    position: relative;
}

.right-column {
    width: 35%;
    margin-top: 60px;
}

.left-column img {
    width: 80%;
    border: 5px solid #49beb7;
}

.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.product-description span {
    font-size: 12px;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}

.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #49beb7;
    letter-spacing: -2px;
    text-align: left;
    font-family: 'Nanum Gothic', sans-serif;
}

.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: white;
    line-height: 24px;
    text-align: left;
    font-family: 'Nanum Gothic', sans-serif;
}

.product-price {
    display: flex;
    align-items: center;
}

.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: white;
    margin-right: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.cart-btn {
    display: inline-block;
    background-color: #49beb7;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
    font-family: 'Nanum Gothic', sans-serif;
}

.cart-btn:hover {
    background-color: #49beb6b6
}

.carousel {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border: solid 5px #49beb7;
}

.carousel-item a {
    color: #49beb7;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
}

.carousel-item h5 {
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
}

.carousel span {
    color: #49beb7;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
}


/* CSS for cart page */
.cart-contain { 
    width: 75%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    color: #49beb7;
}

.action {
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}

.Cart-Items {
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-box {
    width: 15%;
    text-align: center;
    padding: 5px;
}

.image-box img {
    border: solid 3px #49beb7;
    height:120px;
}

.details {
    height: 100%;
}

.title {
    padding-top: 5px;
    line-height: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    color: #49beb7;
}

.counter {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #49beb7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 900;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #49beb6b6
}

.count {
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 900;
    color: #49beb7;
}

.prices {
    height: 100%;
    text-align: right;
}

.amount {
    padding-top: 20px;
    font-size: 26px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    color: white;
}

.remove {
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}


.checkout-btn button {
    background-color: #49beb7;
    color: white;
    border-radius: 8px;
    text-align: center;
    width: 17%;
    height: 50px;
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
    left: 975px;
    padding: 10px;
}

.total {
    padding-top: 20px;
    font-size: 26px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    color: white;
    text-align: right;
    position: relative;
    right: 100px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

label{
    color: #49beb7;
    font-family: 'Nanum Gothic', sans-serif;
}

.product-flex-container button{
    background-color: #49beb7;
    color: white;
    border-radius: 8px;
}

.product-flex-container button:hover{
    background-color: #49beb6b0;
}

button{
    background-color: #49beb7;
    color: white;
    border-radius: 8px;
}

button:hover{
    background-color: #49beb6b0;
}

@media (max-width:986px) { /* Media Query for smaller screens */
    .about img {
        display: none;
    }

    .left-column {
        display: none;
    }

    .right-column {
        width: 390px;
    }

    .product-description h1 {
        justify-content: center;
        text-align: center;
    }

    .product-description p {
        justify-content: center;
        text-align: center;
    }

    .product-description span {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .product-price span {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .about h5 {
        color: #49beb7;
        text-decoration: underline;
        text-align: center;
    }

    .care2 h5 {
        color: #49beb7;
        text-decoration: underline;
        text-align: center;
    }

    .checkout-btn button {
        width:45%;
        position: relative;
        left:65vw;
    }
    
    .image-box {
        width: 0;
        text-align: center;
        padding: 5px;
    }

    .image-box img{
        height:10vh;
        position:fixed;
        left:5px;
    }

    .title {
        position: fixed;
        left: 32vw;
    }

    .btn{
        height:20px;
        width:20px;
        position:relative;
        top:50px;
    }
    
    .count{
        position:relative;
        top:50px;
    }

    .amount{
        font-size: 18px;
        position: relative;
        top:15px;
        left:15px;
    }

    .remove{
        position:relative;
        top: 20px;
        left:15px;
    }
}

@media (min-width: 987px) { /* Media query for larger screens */
    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .navbar-nav>li {
        display: inline-block;
        float: none;
    }
}
