{% extends 'base.html' %}

{% block content %}
<body>
<div class="about">
    <h3>About Us</h3>
        <img src="{{url_for('static', filename='images/petshop.jpg')}}" alt="image of store" height=30% width=40% float=left/>
    <p>Exoticteptilestore was produced in view of the petted darling. We see pets as individuals from the family, so our point is to give clients items and administrations that can guarantee their darling pet will appreciate an upbeat, solid life. We know how essential the human-creature bond is, so our promise to quality creature care reaches out to each aspect of our business.</p>
    <p> Have you at any point met an enthusiastic creature sweetheart? An obstinate, fringe-fixated pet proprietor? All things considered, permit us the joy of acquainting you with our client benefit office. Every one of our clients bolsters staff individuals who have more than 10 years of involvement in their related pet field.</p>
    <p>Have an inquiry? We have the appropriate response.</p>
    <p>The forefront of Exoticteptilestore is our prestigious client bolster group. Be that as it may, the stays of our business are our extraordinary costs, wide choice, speed of conveyance, and prevalent administration. A demonstration of that is the way that we deliver 97% of requests same-day. We structured Exoticteptilestore with the aim of giving not just the best items at the most competitive costs, yet to wind up the #1 supplier of pet items, training, and data. Exoticteptilestore has a standout amongst the most dynamic online networks of pet proprietors on the Internet today.</p>
    <p>Inside our pet gathering, there is a wide scope of subjects talked about with new themes being included each day. A standout amongst the most energizing motivations to visit our gathering is on the grounds that we have utilized huge numbers of the business most-regarded pet creators to handle your inquiries and discussion about their subject matters.
    </p>
    <br>
    <br>
</div>
</body>
{% endblock %}